.pane-container {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;

    background-color: #30333d;
    height: 80vh;
    width: 30vh;
    margin: 1rem;
    gap: 1rem;

    border-radius: 20px;
}