.dashboard-container {
    display: flex;
    flex-direction: column;

    background-color: #30333d;
    height: 80vh;
    width: 130vh;
    margin: 1rem;
    gap: 1rem;

    border-radius: 20px;
}

.information-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 5vh;
    width: 130vh;

    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.data-container {
    text-align: left;
    overflow: auto;

    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.data-table {
    width: 100%;
    background-color: #282a33;
    border-collapse: collapse;
    table-layout: fixed;
}

.data-table th, .data-table td {
    border: 1px solid #555;
    padding: 8px 12px;
}

.data-table th {
    background-color: #2e2f3a;
    font-weight: bold;
}

.positive {
    color: #54d06d;
}

.negative {
    color: #935050;
}

.account-dashboard-link {
    color: #bb7ed7;
    text-decoration: none;
}

.account-dashboard-link:hover {
    color: #dadada;
}