.App {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.header {
  background-color: #282c34;
  height: 10vh;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  font-size: calc(2vmin + 10px);
  font-weight: bold;
}

.header h1 {
  margin: 0 auto;
  font-size: calc(4vmin + 10px);
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.button {
  padding: 8px 12px;
  font-weight: bold;
  background-color: #2b2b36;
  color: white;
  font-size: calc(2vmin + 10px);
  cursor: pointer;
}

.button:hover {
  background-color: #5d6272;
}

.github-link {
  color: rgb(160, 190, 217);
  text-decoration: none;
  font-size: 3vmin;
  font-weight: bold;
}

.github-link:hover {
  color: #5d6272;
}

.link {
  text-decoration: none;
  color: rgb(160, 190, 217);
}

.link:hover {
  color: #5d6272;
}

.App-content {
  background-color: #30333d;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow: hidden;
}

.accounts, .transactions {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 3vmin;
  padding: 20px;
  overflow: hidden;
}

.accounts h2, .transactions h2, .App-content h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.data-container {
  width: 100%;
  overflow-y: auto;
  flex: 1;
  font-size: calc(1vmin + 10px);
  text-align: left;
}

.data-table {
  width: 100%;
  background-color: #282a33;
  border-collapse: collapse;
}

.data-table th, .data-table td {
  border: 1px solid #555;
  padding: 8px 12px;
}

.data-table th {
  background-color: #2e2f3a;
  font-weight: bold;
}

.positive {
  color: lawngreen;
}

.negative {
  color: darkred;
}